<%= form_with(model:@task,local: true)  do |f| %>
  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
      <%= f.label :タイトル %>
      <%= f.text_field :title %>
      <%= f.label :内容%>
      <%= f.text_field :content %>
      <%= f.label :状態%>
      <%= f.select :status, ['未着手','着手中','完了'], include_blank: true, selected: '' %>
      <%= f.label :優先順位 %>
      <%= f.select :priority, ['高','中','低'], include_blank: true, selected: '' %>
    <%= f.submit  %>
  <% end %>
  <%= link_to '戻る',tasks_path %>