<div class = "form_title">
<br>
<br>
<br>
<h1><strong>タスク詳細</strong></h1>
</div>
<br>
<br>
<br>
<div class="container">
  <div class = "row">
    <div class="col-md-2">
    <p><%= notice %></p>
    </div>
    <div class = "main col-md-8">
      <br>
      <p>タスク名: <%= @task.title %></p>
      <br>
      <p>内容: <%= @task.content %></p>
      <br>
      <p>状態: <%= @task.status %></p>
      <br>
      <p>優先順位: <%= @task.priority %></p>
      <br>
      <%= link_to 'タスク一覧',tasks_path %>
      <br>
      <br>
    </div>
    <div class ="col-md-2">
    </div>
  </div>
</div>
  